<div class="flex flex-col gap-2 min-h-screen">
    <nav class="w-full shadow-md px-10 py-4">
        <div class="flex items-center justify-between">
            <div class="items-center justify-between max-md:w-full">
                <div class="text-2xl text-[#1ED760] font-bold p-2 items-center flex gap-2 justify-center cursor-pointer"
                    routerLink="/home">
                    <img class="w-7 h-7" src="spotify_icon_green.svg" />
                    <span>Spotify</span>
                </div>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>

    <div class="w-full h-24 px-10 py-4 bottom-0 fixed">
        <a class="text-2xl text-violet-800 font-bold" routerLink="/home/song-details">Song details</a>
    </div>
</div>