<!-- <div *ngIf="songs.length">
  <h2>Top Tracks</h2>
  <div *ngFor="let song of songs" class="song-card">
    <p><strong>{{ song.name }}</strong> by {{ song.artists[0].name }}</p>
    <audio controls [src]="song.preview_url" *ngIf="song.preview_url"></audio>
  </div>
</div>
<p *ngIf="!songs.length && loading">Loading your songs...</p>
<p *ngIf="!loading && !songs.length">No songs found.</p> -->

<div class="flex justify-center w-full h-[calc(100vh-96px-80px)] p-10">
  <button (click)="sendEvent()">SONG LIST</button>
</div>